# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build files
*.test
*.out
*.a

# Dependency directories
vendor/
Gopkg.lock
Gopkg.toml

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# Text files (If you want to exclude specific text files, specify them)
*.txt

# Environment files
.env
.env.local

# Ignore all files that are generated during builds and local setups
*.log
*.tmp
*.bak